{% extends 'base.html' %}
{% load static %}

{% block title %}
	<title>{{ title }}</title>

{% endblock title %}

{% block content %}

<div class="featured-post single-article text-center">
      <div class="container">

          <div class="text-wrap pb-5">
            <h2 class="text-black">{{promotion.name}}</h2>
            <div class="meta">
              <span>{{promotion.create}}</span>
            </div>
          </div>


      </div>
</div>



    <div class="container article">
      <div class="row justify-content-center align-items-stretch">

        <article class="col-lg-8 order-lg-2 px-lg-5">
          <p><img class="img-fluid" src="{{promotion.image.url}}"></p>
          <p>{{promotion.description}}</p>

          <div class="pt-5 categories_tags ">
                <p>Categories:  <a href="{% url 'core:promotion_category' promotion.category.slug %}">{{promotion.category}}</a></p>
          </div>




        </article>

        <div class="col-md-12 col-lg-1 order-lg-1">
          <div class="share sticky-top">
            <h3>Share</h3>
            <ul class="list-unstyled share-article">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-instagram"></span></a></li>

            </ul>
          </div>
        </div>
        <div class="col-lg-3 mb-5 mb-lg-0 order-lg-3">




        </div>
      </div>
    </div>

{% endblock content %}