{% extends 'base.html' %}
{% load static %}

{% block title %}
	<title>{{ title }}</title>

{% endblock title %}

{% block content %}
        <!-- Promotion -->
    <div class="container mb-5">
          <div class="col-12">
            <h2 class="section-title">Promotion</h2>
          </div>
      <div class="main-slider owl-single owl-carousel">
        {% for prom in promotion %}
        <div class="huge-article d-md-flex">
          <div class="img-wrap">
            {% if prom.image %}
            <a href="{{ prom.get_absolute_url }}"><img src="{{prom.image.url}}" alt="Image" class="img-fluid"></a>
            {% endif %}
          </div>
          <div class="text-wrap">
            <div class="meta-cat"><a href="{% url 'core:promotion_category' prom.category.slug %}">{{ prom.category.name}}</a></div>
            <h3><a href="{{ prom.get_absolute_url }}">{{prom.name}}</a></h3>
            <div class="meta mb-0">
              <span>{{ prom.create }}</span>
            </div>
            <p>{{prom.description|linebreaks|truncatewords:20}}</p>
          </div>
        </div>
        {%endfor%}

        <!-- Promotion -->

      </div>
    </div>
      <!-- products -->

    <div class="container mb-5">
          <div class="col-12">
            <h2 class="section-title">Products</h2>
          </div>
    </div>

      <!-- products -->
      <!-- services -->
    <div class="container mb-5">
          <div class="col-12">
            <h2 class="section-title">Services</h2>
          </div>
    </div>
      <!-- services -->
          <div class="col-md-3">
            <div class="floating-block sticky-top text-center">
              <h2 class="mb-3 text-black">Subscribe to Newsletter</h2>
              <form action="{% url 'core:home' %}" method="post">
                  {% csrf_token %}
				  <span style="color: red" class="form-error"> {{ form.non_field_errors}}</span>
                    <div class="form-group">
                      <p><label class="text-black" for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label>{{ form.name }}</p>
						<span style="color: red" class="form-error"> {{ form.name.errors }}</span>
                    </div>
                <div class="form-group">
                  <p><label class="text-black" for="{{ form.email.id_for_label }}">{{ form.email.label }}:</label>{{ form.email }}</p>
					<span style="color: red" class="form-error"> {{ form.email.errors }}</span>
                </div>
                <input type="submit" value="Subscribe" class="btn btn-primary btn-block">
              </form>
            </div>
          </div>
{% endblock content %}





