{% extends 'base.html' %}
{% load static %}

{% block title %}
	<title>{{ title }}</title>

{% endblock title %}

{% block content %}
   <section class="site-section pt-0" id="portfolio-section">
      <div class="container">

        <div class="filters" data-aos="fade-up" data-aos-delay="100">

          <ul>
              Filter:
              {% if cat_selected %}
              <li><a href="{% url 'core:promotions' %}">All</a></li>
              {% else %}
			  <li class="active"><a href="{% url 'core:promotions' %}"></a>All</li>
              {% endif %}
			  {% for cat in promotion_categories %}
              {% if cat.slug == cat_selected %}
			  <li class="active">{{cat.name}}</li>
              {% else %}
			  <li ><a href="{% url 'core:promotion_category' cat.slug %}">{{cat.name}}</a></li>
              {% endif %}
			  {% endfor %}
          </ul>
        </div>
	  </div>
	</section>

 <div class="container pb-5 mb-5 border-bottom">
    <div class="row">
      <div class="col-lg-2">
        <form name="order_by" method="get">
          <div class="form-group">
            <label class="text-black">Sort by:</label>
            <select name="order_by" id="order_by" class="custom-select">
              <option value="name">Name</option>
              <option value="create">Create</option>
              <option value="update">Update</option>
            </select>
              <button type="submit" class="btn btn-primary-hover-outline">Submit</button>
          </div>
        </form>
    </div>
    </div>
 </div>



<div class="section-latest">
      <div class="container">
        <div class="row gutter-v1 align-items-stretch mb-5">
          <div class="col-12">
            <h2 class="section-title">{{cat.name}}</h2>
          </div>
				{% for pr in promotion %}

              <div class="col-md-6 col-lg-6">
                <div class="post-entry">
                  <div class="media">
                      {% if pr.image %}
                    <a href="{{ pr.get_absolute_url }}"><img src="{{ pr.image.url }}" alt="Image" class="img-fluid"></a>
                      {% endif %}
                  </div>
                  <div class="text">
                    <div class="meta-cat"><a href="{% url 'core:promotion_category' pr.category.slug %}">{{ pr.category}}</a></div>
                    <h2><a href="{{ pr.get_absolute_url }}">{{ pr.name }}</a></h2>
                    <div class="meta mb-0">
                      <span>{{ pr.create }}</span>
                    </div>
                    <p>{{pr.description|linebreaks|truncatewords:20}}</p>

                  </div>
                </div>
              </div>
				{% endfor %}

            </div>
          </div>
        </div>

{% endblock content %}