{% extends 'base.html' %}

{% block title %}
<title>{{ title }}</title>
{% endblock title %}
{% block content %}
{% load socialaccount %}


    <div class="container pb-5 mb-5 border-bottom">
    <div class="row">

      <div class="col-lg-7">
        <a class="btn btn-primary-hover-outline" href="{% provider_login_url 'google' %}" role="button" style="text-transform:none">
      <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
      Login with Google</a><p>
        <form method="post">
          {% csrf_token %}
            <span style="color: red" class="form-error"> {{ form.non_field_errors }}</span>
          {% for f in form %}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <p><label class="text-black" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
                <span style="color: red" class="form-error"> {{ f.errors }}</span>
              </div>
            </div>
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary-hover-outline">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
